@import java.util
@import com.fasterxml.jackson.databind.JsonNode;
@(request: play.mvc.Http.Request)

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gitterific!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <style>
        html,
        body {
            height: 100%;
        }
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        .form-signin {
            width: 100%;
            max-width: 600px;
            padding: 15px;
            margin: auto;
        }
        .search-data{
            margin-top: 4rem;
            text-align: start;
        }
        .cursoring-userProfile {
            cursor: pointer;
        }

        </style>
    </head>

    <body class="text-center">
        <div class="form-signin" style="background-color: #eee;">
            <a id="login" href="" class="h2 font-weight-normal"></a>
            <h1 id="company" class="h4 mb-1 font-weight-normal"></h1>
            <h2 id="bio" class="h4 mb-1 font-weight-normal"></h2>
            <div class="d-flex flex-row">
                <div class="search-data">
                    <h1 id="name" class="h4"></h1>
                    <h1 id="created_at" class="h4"></h1>
                    <h1 id="email" class="h4"></h1>
                    <div class="h5" id="repositories"></div>

                    <img id="loadingImage" src="/assets/images/loading.gif" style="height: 40px;"/>

                    <div class="h4" style="margin-top: 2rem">Additional Information:</div>
                    <table class="table" style="background-color: #f5f5f5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                         </thead>
                        <tbody>
                            <tr>
                                <th scope="row">id</th>
                                <td id="id"></td>
                            </tr>
                            <tr>
                                <th scope="row">node_id</th>
                                <td id="node_id"></td>
                            </tr>
                            <tr>
                                <th scope="row">avatar_url</th>
                                <td id="avatar_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">gravatar_id</th>
                                <td id="gravatar_id"></td>
                            </tr>
                            <tr>
                                <th scope="row">url (API)</th>
                                <td id="url"></td>
                            </tr>
                            <tr>
                                <th scope="row">followers_url</th>
                                <td id="followers_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">following_url</th>
                                <td id="following_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">gists_url</th>
                                <td id="gists_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">starred_url</th>
                                <td id="starred_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">subscriptions_url</th>
                                <td id="subscriptions_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">organizations_url</th>
                                <td id="organizations_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">repositories_url</th>
                                <td id="repositories_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">events_url</th>
                                <td id="events_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">received_events_url</th>
                                <td id="received_events_url"></td>
                            </tr>
                            <tr>
                                <th scope="row">type</th>
                                <td id="type"></td>
                            </tr>
                            <tr>
                                <th scope="row">is admin</th>
                                <td id="site_admin"></td>
                            </tr>
                            <tr>
                                <th scope="row">blog</th>
                                <td id="blog"></td>
                            </tr>
                            <tr>
                                <th scope="row">location</th>
                                <td id="location"></td>
                            </tr>
                            <tr>
                                <th scope="row">public gists</th>
                                <td id="public_gists"></td>
                            </tr>
                            <tr>
                                <th scope="row">update date</th>
                                <td id="updated_at"></td>
                            </tr>
                            <tr>
                                <th scope="row">following</th>
                                <td id="following"></td>
                            </tr>
                            <tr>
                                <th scope="row">followers</th>
                                <td id="followers"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </body>

    <script>
            let username = window.location.pathname.split("/").pop();

            const socket = new WebSocket('ws://localhost:9000/wsUserProfile');
            const socketUserRepos = new WebSocket('ws://localhost:9000/wsUserRepos');


            socket.addEventListener('open', function (event) {
                socket.send(username);
            });

            socketUserRepos.addEventListener('open', function (event) {
                socketUserRepos.send(username);
            });


            socket.addEventListener('message', function (event) {
                data = JSON.parse(event.data);

                document.getElementById('id').innerText = data.id;
                document.getElementById('node_id').innerText = data.node_id;
                document.getElementById('avatar_url').innerText = data.avatar_url;
                document.getElementById('gravatar_id').innerText = data.gravatar_id;
                document.getElementById('url').innerText = data.url;
                document.getElementById('followers_url').innerText = data.followers_url;
                document.getElementById('following_url').innerText = data.following_url;
                document.getElementById('gists_url').innerText = data.gists_url;
                document.getElementById('starred_url').innerText = data.starred_url;
                document.getElementById('subscriptions_url').innerText = data.subscriptions_url;
                document.getElementById('organizations_url').innerText = data.organizations_url;
                document.getElementById('repositories_url').innerText = data.repositories_url;
                document.getElementById('events_url').innerText = data.events_url;
                document.getElementById('received_events_url').innerText = data.received_events_url;
                document.getElementById('site_admin').innerText = data.site_admin;
                document.getElementById('blog').innerText = data.blog;
                document.getElementById('location').innerText = data.location;
                document.getElementById('public_gists').innerText = data.public_gists;
                document.getElementById('updated_at').innerText = parseDate(data.updated_at)
                document.getElementById('login').innerText = data.login;
                document.getElementById('company').innerText = data.company;
                document.getElementById('bio').innerText = data.bio;
                document.getElementById('name').innerText = data.name;
                document.getElementById('created_at').innerText = parseDate(data.created_at)
                document.getElementById('email').innerText = data.email;
                document.getElementById('following').innerText = data.following;
                document.getElementById('followers').innerText = data.followers;

            });

            socketUserRepos.addEventListener('message', function (event) {
                data = JSON.parse(event.data);
                console.log(data);
                var table = $("<table><tr><th>Repositories Information</th></tr>");
                for (let i = 0; i < data.length; i++) {
                    table.append("<tr><td>Name:</td><td>" +"<a href='/repos/"+ username + "/" +data[i]["name"] + "'>" + data[i]["name"] + "</a>" + "</td></tr>")
                    table.append("<tr><td>Description:</td><td>" + data[i]["description"] + "</td></tr>")
                }
                table.append("</table>");
                var img = document.getElementById('loadingImage');
                img.style.visibility = 'hidden';
                $("#repositories").html(table);
            })

            function parseDate(ms){
                var date = new Date(ms);
                return date;
            }
    </script>
</html>