@import java.util
@import com.fasterxml.jackson.databind.JsonNode;

@(owner: Owner)

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gitterific!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <style>
        html,
        body {
        }
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }



        </style>
    </head>

    <body>
    <div class="main-result">
        Username: <b>@owner.getLogin</b>
        <br/>
        Name: <b>@owner.getName</b>
        <br/>
        Company: <b>@owner.getCompany</b>
        <br/>
        <button onclick="repositoryButton()"> Show Repositories </button>

        <div id="repositories" class="repository-results"></div>


    </div>


    </body>
    <script>

            let username = window.location.pathname.split("/").pop();

            function repositoryButton() {
                $.ajax({
                    type: "GET",
                    url: "/users/repos/"+username,
                    success: function (result) {
                        var table = $("<table><tr><th>Repositories Information</th></tr>");
                        for (let i = 0; i < result.length; i++) {
                            table.append("<tr><td>Name:</td><td>" + result[i]["name"] + "</td></tr>")
                            table.append("<tr><td>Dec:</td><td>" + result[i]["description"] + "</td></tr>")
                        }
                        table.append("</table>")

                        $("#repositories").html(table);
                    }
                })
            }

    </script>

</html>